{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="role", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ role.titleEnglish }}</h1>
    <h4>{{ role.hrGroup }}-{{ role.hrLevel }}</h4>

    <h3>Team</h3>
    <li>{{ role.team.nameEnglish }}</li>
    <li>{{ role.team.primaryDomain }}</li>
    <li>{{ role.team.owner.familyName }}, {{ role.team.owner.givenName }}</li>
    <li>{{ role.team.owner.email }}</li>

    <hr>
    <h3>Requirements</h3>
    {% for req in role.requirements %}
        <li>{{ req.nameEn }} ({{ req.domain }}) - {{ req.requiredLevel }}</li>
    {% endfor %}

    <hr>
    <h4>Work</h4>
    {% for work in role.work %}
        <h5><strong>{{ work.workDescription }}</strong></li></h5>
        <li>{{ work.domain }} -> {{ work.capabilityLevel }}</li>
        <li>{{ work.workStatus}}</li>
        <li>Effort: {{ work.effort }}</li>

    {% endfor %}

    <hr>
    <h3>Potential Job Matches</h3>
    {% for match in role.findMatches %}
        <h5>{{ match.titleEnglish }} ({{ match.hrGroup }})-{{ match.hrLevel }}</h5>
        {% for req in match.requirements %}
            <li>{{ req.nameEn }} ({{ req.domain }}) - {{ req.requiredLevel }}</li>
        {% endfor %}
        <br>
    {% endfor %}
    <hr>

</div>



{% endblock content %}