{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="person", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>{{ person.givenName }} {{ person.familyName }}</h1>

    <h3>Contact Info</h3>
    <li>{{ person.workAddress }}</li>
    <li>{{ person.postalCode }}</li>
    <li>{{ person.email }}</li>
    <li>{{ person.phone }}</li>
    
    <hr>

    <h4>Role:
    {% for role in person.activeRoles %}
        <a href="/{{ lang }}/role/{{ role.id }}">{{ role.titleEnglish }}</a> - {{ role.hrGroup }}-{{ role.hrLevel }}
        Effort: {{ role.effort }}
    {% endfor %}</h4>

    <hr>
    <h4>Past Roles</h4>
    {% for role in person.inactiveRoles %}
        <li><strong>{{ role.titleEnglish }}</strong> - {{ role.hrGroup }}-{{ role.hrLevel }}</li>
    {% endfor %}

    <hr>
    <h3>Capabilities</h3>
    {% for cap in person.capabilities %}
        <li>{{ cap.nameEn }} ({{ cap.domain }}) - {{ cap.validatedLevel }}</li>
    {% endfor %}

    <hr>
    <h3>Potential Job Matches</h3>
    {% for match in person.findMatches %}
        <h5><a href="/{{lang}}/role/{{match.id}}">{{ match.titleEnglish }} ({{ match.hrGroup }})-{{ match.hrLevel }}</a></h5>
        {% for req in match.requirements %}
            <li>{{ req.nameEn }} ({{ req.domain }}) - {{ req.requiredLevel }}</li>
        {% endfor %}
        <br>
    {% endfor %}
    <hr>
    

    <h3>Affiliations</h3>
    {% if person.affilations %}
        {% for aff in person.affiliations %}
            <li><a href="/{{lang}}/affiliation/{{aff.id}}">{{ aff.organization.nameEn }} - {{ aff.affiliationRole }}</a></li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}

    <hr>

    <h3>Publications</h3>
    {% if person.publications %}
        {% for pub in person.publications %}
            <li><a href="/{{lang}}/publication/{{pub.id}}">{{ pub.title }} - {{ pub.subjectText }}</a></li>
        {% endfor %}
    {% else %}
        <li>None</li>
    {% endif %}

</div>



{% endblock content %}