{% extends "base.html" %}

{% block title %}
    <title>{{ fluent(key="person-by-name", lang=lang )}}</title>
{% endblock title %}

{% block content %}

<div class="col m-md-2 m-1">

    <h1>People</h1>
    
        {% for person in people %}
            <h2>{{ person.givenName }} {{ person.familyName }}</h2>
            
            <h3>Roles</h3>
            {% for role in person.activeRoles %}
                <li>{{ role.titleEnglish }}</li>
                <li>{{ role.hrGroup }}</li>
                <li>{{ role.hrLevel }}</li>
            {% endfor %}
            <h3>Capabilities</h3>
            {% for cap in person.capabilities %}
                <li>{{ cap.nameEn }}</li>
                <li>{{ cap.domain }}</li>
                <li>{{ cap.validatedLevel }}</li>
            {% endfor %}

        {% endfor %}
        </table>

</div>



{% endblock content %}